<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Twitter friends explorer</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
        </nav>
        <h3 class="text-muted">Twitter friends explorer</h3>
      </div>
 
      <div class="jumbotron">
        <h3 class="text-muted"> Loading <span style="color:black;font-weight: bold">{{Num}}</span> friends for <span style="color:black;font-weight: bold">{{User}}</span>
                </h3>
        
      <h4 class="text-muted">Searching in progress</h4>
       
 
      

    </div>
    <footer class="footer">
        <p>&copy; Markiian 2018</p>
      </footer>
  </body>
</html>