<!DOCTYPE html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" rel="stylesheet"/>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<style> #map_5bf9bdf92641418480deacb62c1b26a9 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
</head>
<body>
<div class="container-fluid" style="padding: 0">
<div class="rows">
<div class="col-md-11">
<h3 class="text-muted">User: 
                    <span style="color:black;font-weight: bold">{{User}}</span>
</h3>
</div>
<div class="col-md-1" style="padding: 0">
<a href="http://127.0.0.1:5000/" style="float: right;">
<button class="btn btn-lg btn-primary btn-block" id="btnSignUp" style="height: 57px" type="submit">Back!</button>
</a>
</div>
</div>
</div>
<div class="folium-map" id="map_5bf9bdf92641418480deacb62c1b26a9"></div>
</body>
<script>    
    

            
                var bounds = null;
            

            var map_5bf9bdf92641418480deacb62c1b26a9 = L.map(
                                  'map_5bf9bdf92641418480deacb62c1b26a9',
                                  {center: [0,0],
                                  zoom: 1,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_e5911e0746c74532928bfab99c04995f = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_5bf9bdf92641418480deacb62c1b26a9);
        
    

            var marker_2edde16b64974044b0e507e317e43098 = L.marker(
                [12,12],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_5bf9bdf92641418480deacb62c1b26a9);
            
    

                var icon_93ef3f3d5c754869a054ef01e3e7d9ac = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'beige',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2edde16b64974044b0e507e317e43098.setIcon(icon_93ef3f3d5c754869a054ef01e3e7d9ac);
            
    
            var popup_ef9a2388f0164a7aaa8181a259a8383b = L.popup({maxWidth: '300'});

            
                var html_4d6b9d338d9f4758a8508e006060b8e4 = $('<div id="html_4d6b9d338d9f4758a8508e006060b8e4" style="width: 100.0%; height: 100.0%;">Lul</div>')[0];
                popup_ef9a2388f0164a7aaa8181a259a8383b.setContent(html_4d6b9d338d9f4758a8508e006060b8e4);
            

            marker_2edde16b64974044b0e507e317e43098.bindPopup(popup_ef9a2388f0164a7aaa8181a259a8383b);

            
        
</script>