<!DOCTYPE html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" rel="stylesheet"/>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<style> #map_b0686907201f4ee4b5992613c120b9ad {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
</head>
<body>
<div class="container-fluid" style="padding: 0">
<div class="rows">
<div class="col-md-11">
<h3 class="text-muted">User: 
                    <span style="color:black;font-weight: bold">{{User}}</span>
</h3>
</div>
<div class="col-md-1" style="padding: 0">
<a href="http://127.0.0.1:5000/" style="float: right;">
<button class="btn btn-lg btn-primary btn-block" id="btnSignUp" style="height: 57px" type="submit">Back!</button>
</a>
</div>
</div>
</div>
<div class="folium-map" id="map_b0686907201f4ee4b5992613c120b9ad"></div>
</body>
<script>    
    

            
                var bounds = null;
            

            var map_b0686907201f4ee4b5992613c120b9ad = L.map(
                                  'map_b0686907201f4ee4b5992613c120b9ad',
                                  {center: [0,0],
                                  zoom: 1,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_a1683dacc6cb49a187b8129e6eba6fea = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_b0686907201f4ee4b5992613c120b9ad);
        
    

            var marker_962d6f3f29ed47449a387f94ead9453c = L.marker(
                [50.94571472700005,6.973472011000069],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_f333f287156f4ad099e307b978e8be2f = L.AwesomeMarkers.icon({
                    icon: 'record',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_962d6f3f29ed47449a387f94ead9453c.setIcon(icon_f333f287156f4ad099e307b978e8be2f);
            
    
            var popup_bb440e7ed59840cc9009929b560acfbb = L.popup({maxWidth: '300'});

            
                var html_648fd184699946c8bc7f9ac9069d7a70 = $('<div id="html_648fd184699946c8bc7f9ac9069d7a70" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/962429225088245763/31b95s5c_normal.jpg"/><br>     Name: Professional Shit talker<br>     Location: F**K You<br>     Lang: en<br>     Friends: 26<br>     Followers: 4104<br>     Created at: Fri Apr 09 08:47:33 +0000 2010<br>     </div>')[0];
                popup_bb440e7ed59840cc9009929b560acfbb.setContent(html_648fd184699946c8bc7f9ac9069d7a70);
            

            marker_962d6f3f29ed47449a387f94ead9453c.bindPopup(popup_bb440e7ed59840cc9009929b560acfbb);

            
        
    

            var marker_0d3f99bf5f174c90b0433064b12cd2bf = L.marker(
                [69.9432242978714,-1.5391748599248354],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_f1b4401f92b5422b958e17b013f9dffd = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0d3f99bf5f174c90b0433064b12cd2bf.setIcon(icon_f1b4401f92b5422b958e17b013f9dffd);
            
    
            var popup_ffadd89de11d401e9b5b1a9debe5f8e0 = L.popup({maxWidth: '300'});

            
                var html_c6ecd74b0d294006983a96d310160f53 = $('<div id="html_c6ecd74b0d294006983a96d310160f53" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/948035088226414598/odeAsBFQ_normal.jpg"/><br>     Name: Mazer Abra<br>     Location: <br>     Lang: en<br>     Friends: 4226<br>     Followers: 3487<br>     Created at: Sun May 15 23:33:54 +0000 2016<br>     </div>')[0];
                popup_ffadd89de11d401e9b5b1a9debe5f8e0.setContent(html_c6ecd74b0d294006983a96d310160f53);
            

            marker_0d3f99bf5f174c90b0433064b12cd2bf.bindPopup(popup_ffadd89de11d401e9b5b1a9debe5f8e0);

            
        
    
                var poly_line_c0d7ee1e28b74ffdbd5d37dcf83545fb = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [69.9432242978714, -1.5391748599248354]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_d6d729f4609b42a9bbf945e97fa53dc8 = L.marker(
                [12.433330000000069,-13.966669999999965],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_2cf5536d9ab94b1a94df391f463d860c = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_d6d729f4609b42a9bbf945e97fa53dc8.setIcon(icon_2cf5536d9ab94b1a94df391f463d860c);
            
    
            var popup_4f88d36b69824ed6bfe6eb23d379e297 = L.popup({maxWidth: '300'});

            
                var html_a43e73096ebb4bea99f7f4df82d853fc = $('<div id="html_a43e73096ebb4bea99f7f4df82d853fc" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/958559909842505739/kZ99KKl7_normal.jpg"/><br>     Name: Keizer<br>     Location: Use code “KeizerPlays”<br>     Lang: en<br>     Friends: 854<br>     Followers: 325<br>     Created at: Fri Jan 20 18:52:50 +0000 2017<br>     </div>')[0];
                popup_4f88d36b69824ed6bfe6eb23d379e297.setContent(html_a43e73096ebb4bea99f7f4df82d853fc);
            

            marker_d6d729f4609b42a9bbf945e97fa53dc8.bindPopup(popup_4f88d36b69824ed6bfe6eb23d379e297);

            
        
    
                var poly_line_9786c75598ef43adb1db66b57da70159 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [12.433330000000069, -13.966669999999965]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_65ab71a8a4e34d11acfdae80e447ffa0 = L.marker(
                [37.527232524000055,-85.28762006799997],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_a9a8b056d6134c34a0e47d4697fd21d6 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_65ab71a8a4e34d11acfdae80e447ffa0.setIcon(icon_a9a8b056d6134c34a0e47d4697fd21d6);
            
    
            var popup_b6de564acc9a4699a4cd2005dc5ff203 = L.popup({maxWidth: '300'});

            
                var html_49351e1ec21a4d198b2fddcc8bcdc698 = $('<div id="html_49351e1ec21a4d198b2fddcc8bcdc698" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/963088007460020224/Bbo3FKxj_normal.jpg"/><br>     Name: ThatTrigga<br>     Location: Kentucky, USA<br>     Lang: en<br>     Friends: 1024<br>     Followers: 304<br>     Created at: Fri Sep 15 07:14:26 +0000 2017<br>     </div>')[0];
                popup_b6de564acc9a4699a4cd2005dc5ff203.setContent(html_49351e1ec21a4d198b2fddcc8bcdc698);
            

            marker_65ab71a8a4e34d11acfdae80e447ffa0.bindPopup(popup_b6de564acc9a4699a4cd2005dc5ff203);

            
        
    
                var poly_line_31c06c949b5b47048134fff47f5a53f1 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [37.527232524000055, -85.28762006799997]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_af4db631256144b1a73b7569be7a03b9 = L.marker(
                [32.97481000000005,-97.34849999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_07cded16e80745bbbee9e13c868148d8 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_af4db631256144b1a73b7569be7a03b9.setIcon(icon_07cded16e80745bbbee9e13c868148d8);
            
    
            var popup_a33cb677d9444108b5eb4c5dc821c299 = L.popup({maxWidth: '300'});

            
                var html_97509fb386c44856b7b61f66f62c2913 = $('<div id="html_97509fb386c44856b7b61f66f62c2913" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/959152410303266816/lS_locEk_normal.jpg"/><br>     Name: Parker Palmer<br>     Location: Haslet, TX<br>     Lang: en<br>     Friends: 345<br>     Followers: 858<br>     Created at: Sun Jul 24 23:59:14 +0000 2016<br>     </div>')[0];
                popup_a33cb677d9444108b5eb4c5dc821c299.setContent(html_97509fb386c44856b7b61f66f62c2913);
            

            marker_af4db631256144b1a73b7569be7a03b9.bindPopup(popup_a33cb677d9444108b5eb4c5dc821c299);

            
        
    
                var poly_line_936a9a68e7674831bf18ca244de04b60 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [32.97481000000005, -97.34849999999994]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_b6a72e7169024e8a894799759f8653a5 = L.marker(
                [-12.816486053882567,-3.946013273332301],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_70039953cd6745b5ad6b2b872b9ed125 = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b6a72e7169024e8a894799759f8653a5.setIcon(icon_70039953cd6745b5ad6b2b872b9ed125);
            
    
            var popup_12debf8322054443a73d741e82c98177 = L.popup({maxWidth: '300'});

            
                var html_3e2df076c2f3497f8cd3b4cc0028219a = $('<div id="html_3e2df076c2f3497f8cd3b4cc0028219a" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/952975009739284480/izYv-eVf_normal.jpg"/><br>     Name: Acid Qwezx<br>     Location: <br>     Lang: en<br>     Friends: 694<br>     Followers: 243<br>     Created at: Tue Jul 25 19:34:43 +0000 2017<br>     </div>')[0];
                popup_12debf8322054443a73d741e82c98177.setContent(html_3e2df076c2f3497f8cd3b4cc0028219a);
            

            marker_b6a72e7169024e8a894799759f8653a5.bindPopup(popup_12debf8322054443a73d741e82c98177);

            
        
    
                var poly_line_98c69beca54546c9b1df0a717efbc8ff = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [-12.816486053882567, -3.946013273332301]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_69b951173bd743b9af7adb4e52221535 = L.marker(
                [52.59274252100005,-1.4586262249999322],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_81bd4ad7bb5e4977be766a735ebd6302 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_69b951173bd743b9af7adb4e52221535.setIcon(icon_81bd4ad7bb5e4977be766a735ebd6302);
            
    
            var popup_28ec3d26b46641b99ea0d25e923fc79e = L.popup({maxWidth: '300'});

            
                var html_1fbefd062abd4912acc04b28829bf7b6 = $('<div id="html_1fbefd062abd4912acc04b28829bf7b6" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/908672114730917889/Rm0ESfl4_normal.jpg"/><br>     Name: Merge Retweets<br>     Location: England, United Kingdom<br>     Lang: en<br>     Friends: 4<br>     Followers: 199<br>     Created at: Wed Sep 13 19:15:04 +0000 2017<br>     </div>')[0];
                popup_28ec3d26b46641b99ea0d25e923fc79e.setContent(html_1fbefd062abd4912acc04b28829bf7b6);
            

            marker_69b951173bd743b9af7adb4e52221535.bindPopup(popup_28ec3d26b46641b99ea0d25e923fc79e);

            
        
    
                var poly_line_da1088c4d724429dab42a740b40e84f2 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [52.59274252100005, -1.4586262249999322]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_3312435d981c484a812cf195f650f4e1 = L.marker(
                [19.06964000000005,72.99842000000007],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_8469c040f4a34630a70e9e5bc5dd9c7c = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3312435d981c484a812cf195f650f4e1.setIcon(icon_8469c040f4a34630a70e9e5bc5dd9c7c);
            
    
            var popup_d7a9de1a3c70477fba6f5f4f2f629dde = L.popup({maxWidth: '300'});

            
                var html_2986c55e4d6b472a9b1404f098c8e5c7 = $('<div id="html_2986c55e4d6b472a9b1404f098c8e5c7" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/960765701924446208/MhGW8kLu_normal.jpg"/><br>     Name: Rapid<br>     Location: Responsive 24/7<br>     Lang: en<br>     Friends: 24<br>     Followers: 480<br>     Created at: Sat Aug 27 06:33:42 +0000 2016<br>     </div>')[0];
                popup_d7a9de1a3c70477fba6f5f4f2f629dde.setContent(html_2986c55e4d6b472a9b1404f098c8e5c7);
            

            marker_3312435d981c484a812cf195f650f4e1.bindPopup(popup_d7a9de1a3c70477fba6f5f4f2f629dde);

            
        
    
                var poly_line_e2f03d48c3e3488e851afebc5dd5c3cf = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [19.06964000000005, 72.99842000000007]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_02d07be4c62e4ae0b866bbbc227516ae = L.marker(
                [48.77511388500005,9.172054804000027],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_797f41f4502040778bd14b81b6003ba3 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_02d07be4c62e4ae0b866bbbc227516ae.setIcon(icon_797f41f4502040778bd14b81b6003ba3);
            
    
            var popup_414adc3b8fbc4f3db352656a5b176d27 = L.popup({maxWidth: '300'});

            
                var html_7f33b89bb5c44b878a1e35be96def8e4 = $('<div id="html_7f33b89bb5c44b878a1e35be96def8e4" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/799437341433667585/y1WKRYGq_normal.jpg"/><br>     Name: Rogue RTs 18.3k<br>     Location: $10-Bio Spot,Pinned Tweet,S/O<br>     Lang: en<br>     Friends: 44<br>     Followers: 18535<br>     Created at: Fri Apr 03 13:49:53 +0000 2015<br>     </div>')[0];
                popup_414adc3b8fbc4f3db352656a5b176d27.setContent(html_7f33b89bb5c44b878a1e35be96def8e4);
            

            marker_02d07be4c62e4ae0b866bbbc227516ae.bindPopup(popup_414adc3b8fbc4f3db352656a5b176d27);

            
        
    
                var poly_line_445080d27796452888639676970762a7 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [48.77511388500005, 9.172054804000027]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_b9673c2a2e114aa6ab15cb4e22b079b3 = L.marker(
                [41.03687000000008,-73.71295999999995],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_ab85c8e91d3d4decbddb79a7e5546204 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b9673c2a2e114aa6ab15cb4e22b079b3.setIcon(icon_ab85c8e91d3d4decbddb79a7e5546204);
            
    
            var popup_d3bca8e25a4948f6bb50d970a9092ea4 = L.popup({maxWidth: '300'});

            
                var html_343c1934a7b84cebb93cca68e74dabdd = $('<div id="html_343c1934a7b84cebb93cca68e74dabdd" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/768857099078103041/k8BVthvR_normal.jpg"/><br>     Name: Infamous RTs<br>     Location: DM to purchase your own logo! <br>     Lang: en<br>     Friends: 23<br>     Followers: 4698<br>     Created at: Mon Aug 17 22:40:44 +0000 2015<br>     </div>')[0];
                popup_d3bca8e25a4948f6bb50d970a9092ea4.setContent(html_343c1934a7b84cebb93cca68e74dabdd);
            

            marker_b9673c2a2e114aa6ab15cb4e22b079b3.bindPopup(popup_d3bca8e25a4948f6bb50d970a9092ea4);

            
        
    
                var poly_line_37f1b68369064821b9aca5bd79aad9e2 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [41.03687000000008, -73.71295999999995]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_b7d47d0ffd6144f796c6f962b6ae9e5a = L.marker(
                [21.439542579000033,-157.94363192999998],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_e7b3b381036e4ef88d4510a5971c488c = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b7d47d0ffd6144f796c6f962b6ae9e5a.setIcon(icon_e7b3b381036e4ef88d4510a5971c488c);
            
    
            var popup_ea0a0ee1fad44855ab803eb5e56ae781 = L.popup({maxWidth: '300'});

            
                var html_ea582d3de5864bddbd5803b254395128 = $('<div id="html_ea582d3de5864bddbd5803b254395128" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/877776659864268800/f7cLsRuC_normal.jpg"/><br>     Name: Capital RTs [2k]<br>     Location: Hawaii, USA<br>     Lang: en<br>     Friends: 21<br>     Followers: 2105<br>     Created at: Wed Apr 22 10:20:07 +0000 2015<br>     </div>')[0];
                popup_ea0a0ee1fad44855ab803eb5e56ae781.setContent(html_ea582d3de5864bddbd5803b254395128);
            

            marker_b7d47d0ffd6144f796c6f962b6ae9e5a.bindPopup(popup_ea0a0ee1fad44855ab803eb5e56ae781);

            
        
    
                var poly_line_a9b56223df6a4f5e8a61f37724de93d3 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [21.439542579000033, -157.94363192999998]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_82bb984f37794cc9af9dc7611558bb83 = L.marker(
                [44.65512000000007,-85.65618005785016],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_5c4881f932c9435897551ede44825771 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_82bb984f37794cc9af9dc7611558bb83.setIcon(icon_5c4881f932c9435897551ede44825771);
            
    
            var popup_4e6106751d20433caa484c444c632c49 = L.popup({maxWidth: '300'});

            
                var html_7bce2b3ad9414192834be8838933e0cc = $('<div id="html_7bce2b3ad9414192834be8838933e0cc" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/895955504790466561/dz8v3_CU_normal.jpg"/><br>     Name: OutReach RTs<br>     Location: Worldwide Service<br>     Lang: en<br>     Friends: 6<br>     Followers: 485<br>     Created at: Fri Jun 02 12:38:57 +0000 2017<br>     </div>')[0];
                popup_4e6106751d20433caa484c444c632c49.setContent(html_7bce2b3ad9414192834be8838933e0cc);
            

            marker_82bb984f37794cc9af9dc7611558bb83.bindPopup(popup_4e6106751d20433caa484c444c632c49);

            
        
    
                var poly_line_02ea8f6b16ee4ef3995d6cc04a699481 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [44.65512000000007, -85.65618005785016]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_9e1424bb73854b10babe66962f6a8324 = L.marker(
                [5.2852348926173605,-53.52572769050087],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_7549745c969a4f02b4f87d664b46b115 = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9e1424bb73854b10babe66962f6a8324.setIcon(icon_7549745c969a4f02b4f87d664b46b115);
            
    
            var popup_1884d441c1ea47fbad4dab6481f4f7c2 = L.popup({maxWidth: '300'});

            
                var html_7d32c81f8dd14b9f8ccf2b799c5a8248 = $('<div id="html_7d32c81f8dd14b9f8ccf2b799c5a8248" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/929090167855497216/kMHXcclm_normal.jpg"/><br>     Name: Promote Gamers RT<br>     Location: <br>     Lang: en<br>     Friends: 14<br>     Followers: 11699<br>     Created at: Fri Mar 20 21:05:44 +0000 2015<br>     </div>')[0];
                popup_1884d441c1ea47fbad4dab6481f4f7c2.setContent(html_7d32c81f8dd14b9f8ccf2b799c5a8248);
            

            marker_9e1424bb73854b10babe66962f6a8324.bindPopup(popup_1884d441c1ea47fbad4dab6481f4f7c2);

            
        
    
                var poly_line_671601b7ca8e4c12b5fc7207867e2d55 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [5.2852348926173605, -53.52572769050087]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_863c072d5af74ba6ac8c4d03f0e0c08c = L.marker(
                [-44.63629014507758,-152.53813748483472],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_ce7b725f7be540b4af0226d34758942f = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_863c072d5af74ba6ac8c4d03f0e0c08c.setIcon(icon_ce7b725f7be540b4af0226d34758942f);
            
    
            var popup_81e49f1c2aad4263b29b080ab100f9a5 = L.popup({maxWidth: '300'});

            
                var html_66a6c10ed37c4a63a519a5659510ee7f = $('<div id="html_66a6c10ed37c4a63a519a5659510ee7f" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/881470614061674496/iEERe6Ep_normal.jpg"/><br>     Name: Demented [5.3k]WE RT<br>     Location: <br>     Lang: en<br>     Friends: 13<br>     Followers: 5297<br>     Created at: Wed Jun 15 18:19:44 +0000 2011<br>     </div>')[0];
                popup_81e49f1c2aad4263b29b080ab100f9a5.setContent(html_66a6c10ed37c4a63a519a5659510ee7f);
            

            marker_863c072d5af74ba6ac8c4d03f0e0c08c.bindPopup(popup_81e49f1c2aad4263b29b080ab100f9a5);

            
        
    
                var poly_line_085aa306df624aac8926d14eff80f742 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [-44.63629014507758, -152.53813748483472]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_11db62f7bc11454cb92d3c214c315cf3 = L.marker(
                [-77.80116616209193,124.40762745883278],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_9f8365a8b2ae42e093e4351da8b140a1 = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_11db62f7bc11454cb92d3c214c315cf3.setIcon(icon_9f8365a8b2ae42e093e4351da8b140a1);
            
    
            var popup_b4e6390d6df14d18bdb7f92325f148d5 = L.popup({maxWidth: '300'});

            
                var html_f62e5a556ab645a6a09fe8a17016b87f = $('<div id="html_f62e5a556ab645a6a09fe8a17016b87f" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/829662695754440704/nfSuhyPI_normal.jpg"/><br>     Name: GFXCoach - RT [8.6k]<br>     Location: <br>     Lang: en<br>     Friends: 28<br>     Followers: 8575<br>     Created at: Mon Feb 03 12:32:11 +0000 2014<br>     </div>')[0];
                popup_b4e6390d6df14d18bdb7f92325f148d5.setContent(html_f62e5a556ab645a6a09fe8a17016b87f);
            

            marker_11db62f7bc11454cb92d3c214c315cf3.bindPopup(popup_b4e6390d6df14d18bdb7f92325f148d5);

            
        
    
                var poly_line_2864a2850c7a4088bee8b5b80c89fe86 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [-77.80116616209193, 124.40762745883278]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_ec7d87bc76634cf7897d7b804ce6ec70 = L.marker(
                [-40.08793588830014,142.64634510451592],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_38006bf09bfb422d9348683320eb2f34 = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ec7d87bc76634cf7897d7b804ce6ec70.setIcon(icon_38006bf09bfb422d9348683320eb2f34);
            
    
            var popup_a1face6d49404d3f8bb6119713a5ff1a = L.popup({maxWidth: '300'});

            
                var html_dd625771b8cd4ba28a3c39bba1bbc177 = $('<div id="html_dd625771b8cd4ba28a3c39bba1bbc177" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/735929877619085313/J_BRKrJu_normal.jpg"/><br>     Name: Slayer RTs<br>     Location: <br>     Lang: en-gb<br>     Friends: 5392<br>     Followers: 4817<br>     Created at: Thu Apr 14 06:36:40 +0000 2016<br>     </div>')[0];
                popup_a1face6d49404d3f8bb6119713a5ff1a.setContent(html_dd625771b8cd4ba28a3c39bba1bbc177);
            

            marker_ec7d87bc76634cf7897d7b804ce6ec70.bindPopup(popup_a1face6d49404d3f8bb6119713a5ff1a);

            
        
    
                var poly_line_023b7970bbb5480e87f15b2a4f9931cb = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [-40.08793588830014, 142.64634510451592]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_d8de38d9cefc40c6af57960433894095 = L.marker(
                [48.51589000000007,16.060118278000118],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_30c46a7fc0424236935b336668747e64 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_d8de38d9cefc40c6af57960433894095.setIcon(icon_30c46a7fc0424236935b336668747e64);
            
    
            var popup_f11cf57cccf54311b08ab198612bf9f6 = L.popup({maxWidth: '300'});

            
                var html_36793a36616f4efc9289c887b293b1e6 = $('<div id="html_36793a36616f4efc9289c887b293b1e6" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/946890396231176194/c0tIhAqT_normal.jpg"/><br>     Name: Mazer Gaming<br>     Location: 3,650+ Subscribers - EST. 2014<br>     Lang: en<br>     Friends: 13<br>     Followers: 5541<br>     Created at: Thu Dec 31 04:18:47 +0000 2015<br>     </div>')[0];
                popup_f11cf57cccf54311b08ab198612bf9f6.setContent(html_36793a36616f4efc9289c887b293b1e6);
            

            marker_d8de38d9cefc40c6af57960433894095.bindPopup(popup_f11cf57cccf54311b08ab198612bf9f6);

            
        
    
                var poly_line_c87c1f6d77544c56b885cfedfa5645e4 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [48.51589000000007, 16.060118278000118]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_20c4f4d1324d43a1b0b2101d1e1a010d = L.marker(
                [28.56604489500006,-81.68864878999995],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_73b8afa524024693bfca36acf4991d8f = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_20c4f4d1324d43a1b0b2101d1e1a010d.setIcon(icon_73b8afa524024693bfca36acf4991d8f);
            
    
            var popup_6c5cfb448bac49df8b9e2cf1b7205bb1 = L.popup({maxWidth: '300'});

            
                var html_070f1b46bb3049468188ded8cb97112a = $('<div id="html_070f1b46bb3049468188ded8cb97112a" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/947133902505816064/DAQNBgzX_normal.jpg"/><br>     Name: Orby<br>     Location: Florida, USA<br>     Lang: en<br>     Friends: 76<br>     Followers: 70<br>     Created at: Tue Nov 07 14:03:33 +0000 2017<br>     </div>')[0];
                popup_6c5cfb448bac49df8b9e2cf1b7205bb1.setContent(html_070f1b46bb3049468188ded8cb97112a);
            

            marker_20c4f4d1324d43a1b0b2101d1e1a010d.bindPopup(popup_6c5cfb448bac49df8b9e2cf1b7205bb1);

            
        
    
                var poly_line_82c99ff1333842a0aa04484269d892c4 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [28.56604489500006, -81.68864878999995]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_0117dc70903e4a7795a857d0431cc3ef = L.marker(
                [-57.90018672980577,178.8475912491384],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_5f884dfb8fe04e8d889960669702c481 = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0117dc70903e4a7795a857d0431cc3ef.setIcon(icon_5f884dfb8fe04e8d889960669702c481);
            
    
            var popup_44a4fe8f99014dce95e3bc759c244a29 = L.popup({maxWidth: '300'});

            
                var html_0e7b5c0c34eb4a7a822e5cde45d6c312 = $('<div id="html_0e7b5c0c34eb4a7a822e5cde45d6c312" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/929795902402949120/VtHKjcu-_normal.jpg"/><br>     Name: Cod retweeter<br>     Location: <br>     Lang: en<br>     Friends: 314<br>     Followers: 89<br>     Created at: Sun Nov 12 19:24:14 +0000 2017<br>     </div>')[0];
                popup_44a4fe8f99014dce95e3bc759c244a29.setContent(html_0e7b5c0c34eb4a7a822e5cde45d6c312);
            

            marker_0117dc70903e4a7795a857d0431cc3ef.bindPopup(popup_44a4fe8f99014dce95e3bc759c244a29);

            
        
    
                var poly_line_3e00b3104fe947ec85571d2e980ffffc = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [-57.90018672980577, 178.8475912491384]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_3babd3180686415eb19be2eecc59d791 = L.marker(
                [6.8923906290471795,-64.40827068846531],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_f466a63dc5fb4b3698d88704ad16b242 = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3babd3180686415eb19be2eecc59d791.setIcon(icon_f466a63dc5fb4b3698d88704ad16b242);
            
    
            var popup_b074b1ca746f4ae9a35da11cd9c01e53 = L.popup({maxWidth: '300'});

            
                var html_002055d30d57459fb92d58071e962ede = $('<div id="html_002055d30d57459fb92d58071e962ede" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/957730158999457792/H1pT0pdh_normal.jpg"/><br>     Name: Just B<br>     Location: RoadToGlory<br>     Lang: en<br>     Friends: 233<br>     Followers: 531<br>     Created at: Wed Aug 19 00:48:25 +0000 2015<br>     </div>')[0];
                popup_b074b1ca746f4ae9a35da11cd9c01e53.setContent(html_002055d30d57459fb92d58071e962ede);
            

            marker_3babd3180686415eb19be2eecc59d791.bindPopup(popup_b074b1ca746f4ae9a35da11cd9c01e53);

            
        
    
                var poly_line_4a65d61e198f472b83eead65c0f03da8 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [6.8923906290471795, -64.40827068846531]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_e085c2a81d23407a8d3578c53b29fe0b = L.marker(
                [-41.2478643050873,-105.90935048959216],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_006c887632914480a504572b06997e63 = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e085c2a81d23407a8d3578c53b29fe0b.setIcon(icon_006c887632914480a504572b06997e63);
            
    
            var popup_f29b74a61af443958a702d373823e695 = L.popup({maxWidth: '300'});

            
                var html_97be82e0ab424e7cb78105182ed8c105 = $('<div id="html_97be82e0ab424e7cb78105182ed8c105" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/865185513367453696/wFtjkkaa_normal.jpg"/><br>     Name: #DevilArmy  RT&LIKE✌<br>     Location: <br>     Lang: en<br>     Friends: 18<br>     Followers: 5931<br>     Created at: Thu Apr 28 11:19:21 +0000 2016<br>     </div>')[0];
                popup_f29b74a61af443958a702d373823e695.setContent(html_97be82e0ab424e7cb78105182ed8c105);
            

            marker_e085c2a81d23407a8d3578c53b29fe0b.bindPopup(popup_f29b74a61af443958a702d373823e695);

            
        
    
                var poly_line_5bdebd5793a444c9b9b99ccb6ad2e9e4 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [-41.2478643050873, -105.90935048959216]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_30aa201eb754493091fee11c616ec6f4 = L.marker(
                [84.50069173159608,169.63975514980052],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_79ee513cfc404d90a1a7cca64adcd177 = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_30aa201eb754493091fee11c616ec6f4.setIcon(icon_79ee513cfc404d90a1a7cca64adcd177);
            
    
            var popup_12f95fabc43143b28bdaf2d088b55766 = L.popup({maxWidth: '300'});

            
                var html_f041cdebc5724737aeb7ca16bee22ce7 = $('<div id="html_f041cdebc5724737aeb7ca16bee22ce7" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/952646295478513666/JJhOAMRn_normal.jpg"/><br>     Name: Nasty🔪#EC<br>     Location: <br>     Lang: en<br>     Friends: 169<br>     Followers: 11385<br>     Created at: Fri Aug 04 20:27:41 +0000 2017<br>     </div>')[0];
                popup_12f95fabc43143b28bdaf2d088b55766.setContent(html_f041cdebc5724737aeb7ca16bee22ce7);
            

            marker_30aa201eb754493091fee11c616ec6f4.bindPopup(popup_12f95fabc43143b28bdaf2d088b55766);

            
        
    
                var poly_line_194ba19d9c3e4a6f8cb4319ca4242fbd = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [84.50069173159608, 169.63975514980052]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_4c5cb8ecd77944519860b4aafb62baad = L.marker(
                [-77.55867068638442,-67.55221431052594],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_7e5e0a7e12054ae18c2bae6a5fc1291c = L.AwesomeMarkers.icon({
                    icon: 'remove-circle',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_4c5cb8ecd77944519860b4aafb62baad.setIcon(icon_7e5e0a7e12054ae18c2bae6a5fc1291c);
            
    
            var popup_b1774048cc484adfa4227ef12cffa53b = L.popup({maxWidth: '300'});

            
                var html_9a6630cc9f8443c583f08acf9625cae6 = $('<div id="html_9a6630cc9f8443c583f08acf9625cae6" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/1649528920/149056_1718663325672_1210940054_31952909_2149605_n_normal.jpg"/><br>     Name: Gabriella Harnadek<br>     Location: <br>     Lang: en<br>     Friends: 408<br>     Followers: 65<br>     Created at: Mon Nov 21 02:00:33 +0000 2011<br>     </div>')[0];
                popup_b1774048cc484adfa4227ef12cffa53b.setContent(html_9a6630cc9f8443c583f08acf9625cae6);
            

            marker_4c5cb8ecd77944519860b4aafb62baad.bindPopup(popup_b1774048cc484adfa4227ef12cffa53b);

            
        
    
                var poly_line_ac1bd89a63984592a3668722984bb674 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [-77.55867068638442, -67.55221431052594]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_0fd57affdb05468bbd53d77249070a87 = L.marker(
                [33.61946000000006,-117.67755999999997],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_fe182b43fa664a58877ff84700c86810 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0fd57affdb05468bbd53d77249070a87.setIcon(icon_fe182b43fa664a58877ff84700c86810);
            
    
            var popup_c61c0847673c402ab7edf46567204103 = L.popup({maxWidth: '300'});

            
                var html_ae2ce9faa8d74ea9956dffdb78ee8dc8 = $('<div id="html_ae2ce9faa8d74ea9956dffdb78ee8dc8" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/959800429025542144/iGj_CFGz_normal.jpg"/><br>     Name: Katie Goode<br>     Location: Mission Viejo, CA<br>     Lang: en<br>     Friends: 6065<br>     Followers: 5980<br>     Created at: Tue Jan 06 16:10:26 +0000 2009<br>     </div>')[0];
                popup_c61c0847673c402ab7edf46567204103.setContent(html_ae2ce9faa8d74ea9956dffdb78ee8dc8);
            

            marker_0fd57affdb05468bbd53d77249070a87.bindPopup(popup_c61c0847673c402ab7edf46567204103);

            
        
    
                var poly_line_2e4e54f68b55474196a441f42253d567 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [33.61946000000006, -117.67755999999997]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_fd9a47b10e0845e49566ee23b262356f = L.marker(
                [41.50473000000005,-81.69073999999995],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_3c99acb8e1794c0aabe6e7ae78653b14 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fd9a47b10e0845e49566ee23b262356f.setIcon(icon_3c99acb8e1794c0aabe6e7ae78653b14);
            
    
            var popup_28c0101ec4ff4b1fa9c0f0295fe17d3d = L.popup({maxWidth: '300'});

            
                var html_863f45ab6962417c90afb55db0bdf08b = $('<div id="html_863f45ab6962417c90afb55db0bdf08b" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/904338529412571136/tBrqea_J_normal.jpg"/><br>     Name: Shan<br>     Location: Cleveland, OH<br>     Lang: en<br>     Friends: 12501<br>     Followers: 106136<br>     Created at: Sun Feb 08 19:35:37 +0000 2009<br>     </div>')[0];
                popup_28c0101ec4ff4b1fa9c0f0295fe17d3d.setContent(html_863f45ab6962417c90afb55db0bdf08b);
            

            marker_fd9a47b10e0845e49566ee23b262356f.bindPopup(popup_28c0101ec4ff4b1fa9c0f0295fe17d3d);

            
        
    
                var poly_line_b74e974de35345199ad58e1d7c287346 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [41.50473000000005, -81.69073999999995]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_fbf69486a9cd4617ba5b3a31adffa6ff = L.marker(
                [34.23294000000004,-102.41019999999997],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_fe26b13a8f104c119a9d61491e72b223 = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fbf69486a9cd4617ba5b3a31adffa6ff.setIcon(icon_fe26b13a8f104c119a9d61491e72b223);
            
    
            var popup_47bc3ec74e4a4bce900ac4e9509b915e = L.popup({maxWidth: '300'});

            
                var html_7e539a53015d40119bf0a31646acf1a0 = $('<div id="html_7e539a53015d40119bf0a31646acf1a0" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/821137327/Untitled-1_normal.png"/><br>     Name: SocialFans<br>     Location: Earth<br>     Lang: en<br>     Friends: 21201<br>     Followers: 26879<br>     Created at: Sun May 03 15:30:06 +0000 2009<br>     </div>')[0];
                popup_47bc3ec74e4a4bce900ac4e9509b915e.setContent(html_7e539a53015d40119bf0a31646acf1a0);
            

            marker_fbf69486a9cd4617ba5b3a31adffa6ff.bindPopup(popup_47bc3ec74e4a4bce900ac4e9509b915e);

            
        
    
                var poly_line_4af48219425b4b1d9fe70a4ea25ba8c2 = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [34.23294000000004, -102.41019999999997]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

            var marker_90f420bfbb7d454abe8ea09cb197e74e = L.marker(
                [61.989526183000066,96.80537153400007],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
    

                var icon_2692daf9669e451188e4ecc83cc03ebd = L.AwesomeMarkers.icon({
                    icon: 'ok-circle',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_90f420bfbb7d454abe8ea09cb197e74e.setIcon(icon_2692daf9669e451188e4ecc83cc03ebd);
            
    
            var popup_d06c0962712a4bd683a5acbb1c1487b2 = L.popup({maxWidth: '300'});

            
                var html_72df193ecfec4b4f8266aefa03726cb5 = $('<div id="html_72df193ecfec4b4f8266aefa03726cb5" style="width: 100.0%; height: 100.0%;"><img src="https://pbs.twimg.com/profile_images/1082734925/witchy79_normal.jpg"/><br>     Name: Юляша<br>     Location: Russia (Россия) <br>     Lang: ru<br>     Friends: 5667<br>     Followers: 13643<br>     Created at: Fri Jun 11 23:48:55 +0000 2010<br>     </div>')[0];
                popup_d06c0962712a4bd683a5acbb1c1487b2.setContent(html_72df193ecfec4b4f8266aefa03726cb5);
            

            marker_90f420bfbb7d454abe8ea09cb197e74e.bindPopup(popup_d06c0962712a4bd683a5acbb1c1487b2);

            
        
    
                var poly_line_57cd2c6854f24e468aace5ed8a5d77bc = L.polyline(
                    [[50.94571472700005, 6.973472011000069], [61.989526183000066, 96.80537153400007]],
                    {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3388ff",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2
}).addTo(map_b0686907201f4ee4b5992613c120b9ad);
            
</script>