<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_b70df48a2f254226bb69452719b9d457 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b70df48a2f254226bb69452719b9d457" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_b70df48a2f254226bb69452719b9d457 = L.map(
                                  'map_b70df48a2f254226bb69452719b9d457',
                                  {center: [0,0],
                                  zoom: 1,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_2f2cdd33f7774917be307e9f444cb428 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_b70df48a2f254226bb69452719b9d457);
        
    

            var marker_fbdf91969bde4f1ca69adacea02bfdd3 = L.marker(
                [32.77815000000004,-96.79539999999997],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_9c663cf654b64729b266cf416993d393 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightgreen',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fbdf91969bde4f1ca69adacea02bfdd3.setIcon(icon_9c663cf654b64729b266cf416993d393);
            
    
            var popup_3cd86c257e404830aba6367a47d73b76 = L.popup({maxWidth: '300'});

            
                var html_bf20cad840494d8ab924defb553a4d51 = $('<div id="html_bf20cad840494d8ab924defb553a4d51" style="width: 100.0%; height: 100.0%;">John Carmack</div>')[0];
                popup_3cd86c257e404830aba6367a47d73b76.setContent(html_bf20cad840494d8ab924defb553a4d51);
            

            marker_fbdf91969bde4f1ca69adacea02bfdd3.bindPopup(popup_3cd86c257e404830aba6367a47d73b76);

            
        
    

            var marker_663f0404ac6d42f1a25440b1b3d6af5d = L.marker(
                [37.777120000000025,-122.41963999999996],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_362d3bfb266643c08f870e8df84e0e30 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_663f0404ac6d42f1a25440b1b3d6af5d.setIcon(icon_362d3bfb266643c08f870e8df84e0e30);
            
    
            var popup_3643f92c04b248ba85b28cd4a1b55ac4 = L.popup({maxWidth: '300'});

            
                var html_bd43a87744e14528ab2fb2dbb50dd29a = $('<div id="html_bd43a87744e14528ab2fb2dbb50dd29a" style="width: 100.0%; height: 100.0%;">Slashdot</div>')[0];
                popup_3643f92c04b248ba85b28cd4a1b55ac4.setContent(html_bd43a87744e14528ab2fb2dbb50dd29a);
            

            marker_663f0404ac6d42f1a25440b1b3d6af5d.bindPopup(popup_3643f92c04b248ba85b28cd4a1b55ac4);

            
        
    

            var marker_1975cffe871d48ffa30a6ebb3fc9a252 = L.marker(
                [51.50642000000005,-0.1272099999999341],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_9dfe3f222c75475c9d262eecf5c09316 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1975cffe871d48ffa30a6ebb3fc9a252.setIcon(icon_9dfe3f222c75475c9d262eecf5c09316);
            
    
            var popup_84400e64d560480cb17ebced1e33ee50 = L.popup({maxWidth: '300'});

            
                var html_99fea4452bd94c15b50db9af920e74a9 = $('<div id="html_99fea4452bd94c15b50db9af920e74a9" style="width: 100.0%; height: 100.0%;">Talulah Riley</div>')[0];
                popup_84400e64d560480cb17ebced1e33ee50.setContent(html_99fea4452bd94c15b50db9af920e74a9);
            

            marker_1975cffe871d48ffa30a6ebb3fc9a252.bindPopup(popup_84400e64d560480cb17ebced1e33ee50);

            
        
    

            var marker_12e00c20c2ea445bb47bed9771ba632f = L.marker(
                [55.775000000000034,38.20026000000007],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_58124bf1ed4f435fb073269707e70a2e = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_12e00c20c2ea445bb47bed9771ba632f.setIcon(icon_58124bf1ed4f435fb073269707e70a2e);
            
    
            var popup_d170281c4a28488198903ccc1c3e2ddc = L.popup({maxWidth: '300'});

            
                var html_ae81503f7a5b423aa8924c01e129dc28 = $('<div id="html_ae81503f7a5b423aa8924c01e129dc28" style="width: 100.0%; height: 100.0%;">Imgur</div>')[0];
                popup_d170281c4a28488198903ccc1c3e2ddc.setContent(html_ae81503f7a5b423aa8924c01e129dc28);
            

            marker_12e00c20c2ea445bb47bed9771ba632f.bindPopup(popup_d170281c4a28488198903ccc1c3e2ddc);

            
        
    

            var marker_2d54180d80b14a7abe64cbbde3bef748 = L.marker(
                [34.14745000000005,-118.14426999999995],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_d05d00a512314a838ee3ea522aa49a4e = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightgray',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2d54180d80b14a7abe64cbbde3bef748.setIcon(icon_d05d00a512314a838ee3ea522aa49a4e);
            
    
            var popup_18bc4cb6fdba406db6a4d2ac1d66b3fe = L.popup({maxWidth: '300'});

            
                var html_2b48805331c947fd97a73b8bfc2edeeb = $('<div id="html_2b48805331c947fd97a73b8bfc2edeeb" style="width: 100.0%; height: 100.0%;">NASA JPL</div>')[0];
                popup_18bc4cb6fdba406db6a4d2ac1d66b3fe.setContent(html_2b48805331c947fd97a73b8bfc2edeeb);
            

            marker_2d54180d80b14a7abe64cbbde3bef748.bindPopup(popup_18bc4cb6fdba406db6a4d2ac1d66b3fe);

            
        
    

            var marker_0bf74bac330e4ad7acc5c840df5b9ea4 = L.marker(
                [37.211820000000046,-117.68646999999999],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_61fa4715b45741689cfc858c9249a6c8 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightblue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0bf74bac330e4ad7acc5c840df5b9ea4.setIcon(icon_61fa4715b45741689cfc858c9249a6c8);
            
    
            var popup_7230223966204368a91ecc29590a80c0 = L.popup({maxWidth: '300'});

            
                var html_bbae8283025e45a188581470ae5f7d6e = $('<div id="html_bbae8283025e45a188581470ae5f7d6e" style="width: 100.0%; height: 100.0%;">Curiosity Rover</div>')[0];
                popup_7230223966204368a91ecc29590a80c0.setContent(html_bbae8283025e45a188581470ae5f7d6e);
            

            marker_0bf74bac330e4ad7acc5c840df5b9ea4.bindPopup(popup_7230223966204368a91ecc29590a80c0);

            
        
    

            var marker_10069fc8bcbb4cd3893121af175886bd = L.marker(
                [34.23294000000004,-102.41019999999997],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_00d2be1176d047f38a3712a545a016f2 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightgray',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_10069fc8bcbb4cd3893121af175886bd.setIcon(icon_00d2be1176d047f38a3712a545a016f2);
            
    
            var popup_5f4b057915d9437ca82ce0c798e6b898 = L.popup({maxWidth: '300'});

            
                var html_b49363f99e01499e9fca3cf64dfd2e65 = $('<div id="html_b49363f99e01499e9fca3cf64dfd2e65" style="width: 100.0%; height: 100.0%;">Intl. Space Station</div>')[0];
                popup_5f4b057915d9437ca82ce0c798e6b898.setContent(html_b49363f99e01499e9fca3cf64dfd2e65);
            

            marker_10069fc8bcbb4cd3893121af175886bd.bindPopup(popup_5f4b057915d9437ca82ce0c798e6b898);

            
        
    

            var marker_eb5b0963b77340b2bc993d00403e3b81 = L.marker(
                [25.592210000000023,75.59277000000003],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_78c598392d2c41409a54d8fb80fc2063 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_eb5b0963b77340b2bc993d00403e3b81.setIcon(icon_78c598392d2c41409a54d8fb80fc2063);
            
    
            var popup_14f7847cac1d425193c4757c43415493 = L.popup({maxWidth: '300'});

            
                var html_3fab00489466499cab03050b86448ccb = $('<div id="html_3fab00489466499cab03050b86448ccb" style="width: 100.0%; height: 100.0%;">How Things Work</div>')[0];
                popup_14f7847cac1d425193c4757c43415493.setContent(html_3fab00489466499cab03050b86448ccb);
            

            marker_eb5b0963b77340b2bc993d00403e3b81.bindPopup(popup_14f7847cac1d425193c4757c43415493);

            
        
    

            var marker_bdcb4373da114db196ed82b773441660 = L.marker(
                [34.05349000000007,-118.24531999999999],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_03ed6caabeb74a0abf2dff7f81ca6d97 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_bdcb4373da114db196ed82b773441660.setIcon(icon_03ed6caabeb74a0abf2dff7f81ca6d97);
            
    
            var popup_e3ba5fae90634c94b38a7169a683b4f0 = L.popup({maxWidth: '300'});

            
                var html_ea17cc1ae06840a0b6ac7046a0867e42 = $('<div id="html_ea17cc1ae06840a0b6ac7046a0867e42" style="width: 100.0%; height: 100.0%;">The Boring Company</div>')[0];
                popup_e3ba5fae90634c94b38a7169a683b4f0.setContent(html_ea17cc1ae06840a0b6ac7046a0867e42);
            

            marker_bdcb4373da114db196ed82b773441660.bindPopup(popup_e3ba5fae90634c94b38a7169a683b4f0);

            
        
    

            var marker_41e03dc5cf744f2c881491fa067a46cf = L.marker(
                [39.39870315600007,-99.41461918999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_9d8a2dd370c9439abbe60a4d96b5acd3 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightgray',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_41e03dc5cf744f2c881491fa067a46cf.setIcon(icon_9d8a2dd370c9439abbe60a4d96b5acd3);
            
    
            var popup_2fb5ce1bfe794909be393f4a9bbb6c83 = L.popup({maxWidth: '300'});

            
                var html_4d9a83486d9f4291a86d3a2a82a79bc1 = $('<div id="html_4d9a83486d9f4291a86d3a2a82a79bc1" style="width: 100.0%; height: 100.0%;">Kimbal Musk</div>')[0];
                popup_2fb5ce1bfe794909be393f4a9bbb6c83.setContent(html_4d9a83486d9f4291a86d3a2a82a79bc1);
            

            marker_41e03dc5cf744f2c881491fa067a46cf.bindPopup(popup_2fb5ce1bfe794909be393f4a9bbb6c83);

            
        
    

            var marker_b50a588b2d9a4342bb2822ce9cf9ee9f = L.marker(
                [40.71455000000003,-74.00713999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_737e3b1bd562482fbd369b3784776236 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'pink',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b50a588b2d9a4342bb2822ce9cf9ee9f.setIcon(icon_737e3b1bd562482fbd369b3784776236);
            
    
            var popup_e44864898c3a47ec8f4e7f50ef6d8641 = L.popup({maxWidth: '300'});

            
                var html_47d60a473ac14af4b5b5c5c03b5973d0 = $('<div id="html_47d60a473ac14af4b5b5c5c03b5973d0" style="width: 100.0%; height: 100.0%;">World and Science</div>')[0];
                popup_e44864898c3a47ec8f4e7f50ef6d8641.setContent(html_47d60a473ac14af4b5b5c5c03b5973d0);
            

            marker_b50a588b2d9a4342bb2822ce9cf9ee9f.bindPopup(popup_e44864898c3a47ec8f4e7f50ef6d8641);

            
        
    

            var marker_98987299b5f746599b45eca25f138ebd = L.marker(
                [33.91819000000004,-118.35373999999996],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_a36a852fed6e44fe80259158b08f19c7 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'darkred',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_98987299b5f746599b45eca25f138ebd.setIcon(icon_a36a852fed6e44fe80259158b08f19c7);
            
    
            var popup_8793cedce6f34ca3875175dd10bb0063 = L.popup({maxWidth: '300'});

            
                var html_ac99eaa79b9044478601a41cecb46907 = $('<div id="html_ac99eaa79b9044478601a41cecb46907" style="width: 100.0%; height: 100.0%;">Hyperloop</div>')[0];
                popup_8793cedce6f34ca3875175dd10bb0063.setContent(html_ac99eaa79b9044478601a41cecb46907);
            

            marker_98987299b5f746599b45eca25f138ebd.bindPopup(popup_8793cedce6f34ca3875175dd10bb0063);

            
        
    

            var marker_278b1a9b04084927b1b723d64fddabd4 = L.marker(
                [49.48438006939237,0.1319399744648445],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_4f0e7c5732244bb4854ee98276af4e09 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_278b1a9b04084927b1b723d64fddabd4.setIcon(icon_4f0e7c5732244bb4854ee98276af4e09);
            
    
            var popup_1ef18bd6ffe6442486f92f1f1a82fdb4 = L.popup({maxWidth: '300'});

            
                var html_efeb77ef6fe84a118a720be4b34eaadf = $('<div id="html_efeb77ef6fe84a118a720be4b34eaadf" style="width: 100.0%; height: 100.0%;">Tesla Motors Club</div>')[0];
                popup_1ef18bd6ffe6442486f92f1f1a82fdb4.setContent(html_efeb77ef6fe84a118a720be4b34eaadf);
            

            marker_278b1a9b04084927b1b723d64fddabd4.bindPopup(popup_1ef18bd6ffe6442486f92f1f1a82fdb4);

            
        
    

            var marker_291179403f304f76b007c0bdaf07e72e = L.marker(
                [40.71455000000003,-74.00713999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_f835e9d020894fb397de6955bcea5913 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_291179403f304f76b007c0bdaf07e72e.setIcon(icon_f835e9d020894fb397de6955bcea5913);
            
    
            var popup_b2e346f271f94daabab70cd3ccdea58e = L.popup({maxWidth: '300'});

            
                var html_0b587b90e4234d508f7dfacb49f1767e = $('<div id="html_0b587b90e4234d508f7dfacb49f1767e" style="width: 100.0%; height: 100.0%;">Scientific American</div>')[0];
                popup_b2e346f271f94daabab70cd3ccdea58e.setContent(html_0b587b90e4234d508f7dfacb49f1767e);
            

            marker_291179403f304f76b007c0bdaf07e72e.bindPopup(popup_b2e346f271f94daabab70cd3ccdea58e);

            
        
    

            var marker_2e05d9cbb1ad46ed9eaf9be90b4b285f = L.marker(
                [40.71455000000003,-74.00713999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_56b40762cc5c47c19703bc3c68d8774b = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightgreen',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2e05d9cbb1ad46ed9eaf9be90b4b285f.setIcon(icon_56b40762cc5c47c19703bc3c68d8774b);
            
    
            var popup_73f7fb1010284b808865a74bde1dfaa7 = L.popup({maxWidth: '300'});

            
                var html_04a85a81377a44bfbace4a84f2f6a4bf = $('<div id="html_04a85a81377a44bfbace4a84f2f6a4bf" style="width: 100.0%; height: 100.0%;">The Verge</div>')[0];
                popup_73f7fb1010284b808865a74bde1dfaa7.setContent(html_04a85a81377a44bfbace4a84f2f6a4bf);
            

            marker_2e05d9cbb1ad46ed9eaf9be90b4b285f.bindPopup(popup_73f7fb1010284b808865a74bde1dfaa7);

            
        
    

            var marker_3a554a204ac344d8a80609f5db208405 = L.marker(
                [53.40838660500003,-1.9695595439999352],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_d1ae7dd806ca47af9317b469edaeef1d = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3a554a204ac344d8a80609f5db208405.setIcon(icon_d1ae7dd806ca47af9317b469edaeef1d);
            
    
            var popup_11c29dae0174478ba695776672647416 = L.popup({maxWidth: '300'});

            
                var html_290dd3d6fdb54f29a1dcc212b3754e0b = $('<div id="html_290dd3d6fdb54f29a1dcc212b3754e0b" style="width: 100.0%; height: 100.0%;">Develop</div>')[0];
                popup_11c29dae0174478ba695776672647416.setContent(html_290dd3d6fdb54f29a1dcc212b3754e0b);
            

            marker_3a554a204ac344d8a80609f5db208405.bindPopup(popup_11c29dae0174478ba695776672647416);

            
        
    

            var marker_5e86d1dd741740e890b6293cf154b714 = L.marker(
                [52.37827000000004,4.895360000000039],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_d41ae81bc0474576b3c7fae358ecffba = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'darkgreen',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5e86d1dd741740e890b6293cf154b714.setIcon(icon_d41ae81bc0474576b3c7fae358ecffba);
            
    
            var popup_db60fd53ae924c0c92f220e9c8d61625 = L.popup({maxWidth: '300'});

            
                var html_ecfacad2797942ff9bc946871c9bd8e4 = $('<div id="html_ecfacad2797942ff9bc946871c9bd8e4" style="width: 100.0%; height: 100.0%;">The Hacker News</div>')[0];
                popup_db60fd53ae924c0c92f220e9c8d61625.setContent(html_ecfacad2797942ff9bc946871c9bd8e4);
            

            marker_5e86d1dd741740e890b6293cf154b714.bindPopup(popup_db60fd53ae924c0c92f220e9c8d61625);

            
        
    

            var marker_b5c2e6cafdd245ab8e2ea0daa65d2f2e = L.marker(
                [37.66588000000007,-91.84792999999996],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_6b239d5492e349a3835789944ee0f63b = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'beige',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b5c2e6cafdd245ab8e2ea0daa65d2f2e.setIcon(icon_6b239d5492e349a3835789944ee0f63b);
            
    
            var popup_39f23b91a6064f35813c7ea7e9e6ddd6 = L.popup({maxWidth: '300'});

            
                var html_cb3ce8089a5f4323bc17df13efe97391 = $('<div id="html_cb3ce8089a5f4323bc17df13efe97391" style="width: 100.0%; height: 100.0%;">Atlas Obscura</div>')[0];
                popup_39f23b91a6064f35813c7ea7e9e6ddd6.setContent(html_cb3ce8089a5f4323bc17df13efe97391);
            

            marker_b5c2e6cafdd245ab8e2ea0daa65d2f2e.bindPopup(popup_39f23b91a6064f35813c7ea7e9e6ddd6);

            
        
    

            var marker_1ccca64067274528a68b19a207846d35 = L.marker(
                [40.71455000000003,-74.00713999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_8ab490d424794fc39188c88079b17af3 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1ccca64067274528a68b19a207846d35.setIcon(icon_8ab490d424794fc39188c88079b17af3);
            
    
            var popup_2b697a9b422d4f769f6f4f4d3418fe36 = L.popup({maxWidth: '300'});

            
                var html_87bbe4ae65cc40d79f6130364f25b34b = $('<div id="html_87bbe4ae65cc40d79f6130364f25b34b" style="width: 100.0%; height: 100.0%;">Rolling Stone</div>')[0];
                popup_2b697a9b422d4f769f6f4f4d3418fe36.setContent(html_87bbe4ae65cc40d79f6130364f25b34b);
            

            marker_1ccca64067274528a68b19a207846d35.bindPopup(popup_2b697a9b422d4f769f6f4f4d3418fe36);

            
        
    

            var marker_a10632487f8040ffa62855b1165dcf5e = L.marker(
                [40.71455000000003,-74.00713999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_bba5fbc674394a1da284a0e07e372dee = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightred',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a10632487f8040ffa62855b1165dcf5e.setIcon(icon_bba5fbc674394a1da284a0e07e372dee);
            
    
            var popup_2b7712be124e456d95fd62f1ae13e641 = L.popup({maxWidth: '300'});

            
                var html_2e6ac3c5ea484a85a6d90a7b5cce3317 = $('<div id="html_2e6ac3c5ea484a85a6d90a7b5cce3317" style="width: 100.0%; height: 100.0%;">John Oliver</div>')[0];
                popup_2b7712be124e456d95fd62f1ae13e641.setContent(html_2e6ac3c5ea484a85a6d90a7b5cce3317);
            

            marker_a10632487f8040ffa62855b1165dcf5e.bindPopup(popup_2b7712be124e456d95fd62f1ae13e641);

            
        
    

            var marker_12c362ca0879440ebfa2538c3a0dd6ed = L.marker(
                [40.01574000000005,-105.27923999999996],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_bdcdcaa791f741bc99e6dd0a7f905778 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_12c362ca0879440ebfa2538c3a0dd6ed.setIcon(icon_bdcdcaa791f741bc99e6dd0a7f905778);
            
    
            var popup_b84086ede9f045f193aac8b5c2d4d00a = L.popup({maxWidth: '300'});

            
                var html_1a5e6ba3ecab4b259fc736d7ee2a96b4 = $('<div id="html_1a5e6ba3ecab4b259fc736d7ee2a96b4" style="width: 100.0%; height: 100.0%;">Phil Plait</div>')[0];
                popup_b84086ede9f045f193aac8b5c2d4d00a.setContent(html_1a5e6ba3ecab4b259fc736d7ee2a96b4);
            

            marker_12c362ca0879440ebfa2538c3a0dd6ed.bindPopup(popup_b84086ede9f045f193aac8b5c2d4d00a);

            
        
    

            var marker_82304176a7bd46019e2f29552bb30fbd = L.marker(
                [37.777120000000025,-122.41963999999996],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_471ca07f88fe40c582a893b67a1a11f1 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightgray',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_82304176a7bd46019e2f29552bb30fbd.setIcon(icon_471ca07f88fe40c582a893b67a1a11f1);
            
    
            var popup_2cc7cb2d1b124085835ec4b98a09bed0 = L.popup({maxWidth: '300'});

            
                var html_7ddc8a3191ad47f1a4319a8aa007f9a2 = $('<div id="html_7ddc8a3191ad47f1a4319a8aa007f9a2" style="width: 100.0%; height: 100.0%;">Techmeme</div>')[0];
                popup_2cc7cb2d1b124085835ec4b98a09bed0.setContent(html_7ddc8a3191ad47f1a4319a8aa007f9a2);
            

            marker_82304176a7bd46019e2f29552bb30fbd.bindPopup(popup_2cc7cb2d1b124085835ec4b98a09bed0);

            
        
    

            var marker_2bc2578b5611491c8e3b1c1b0ff68561 = L.marker(
                [53.40838660500003,-1.9695595439999352],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_ddefdd2bd41a4e309328bf6635aef385 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightblue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2bc2578b5611491c8e3b1c1b0ff68561.setIcon(icon_ddefdd2bd41a4e309328bf6635aef385);
            
    
            var popup_d46a52663bea4099bbc2ff8a77cbaa86 = L.popup({maxWidth: '300'});

            
                var html_ed004c56f5f94262910c9d3f513e9bb0 = $('<div id="html_ed004c56f5f94262910c9d3f513e9bb0" style="width: 100.0%; height: 100.0%;">Neuroskeptic</div>')[0];
                popup_d46a52663bea4099bbc2ff8a77cbaa86.setContent(html_ed004c56f5f94262910c9d3f513e9bb0);
            

            marker_2bc2578b5611491c8e3b1c1b0ff68561.bindPopup(popup_d46a52663bea4099bbc2ff8a77cbaa86);

            
        
    

            var marker_5868f0f7ac3143fa9f77aed62a30f956 = L.marker(
                [33.81773000000004,-83.80729999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_885e081c1dc341bab2f30948f7ed00de = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightblue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5868f0f7ac3143fa9f77aed62a30f956.setIcon(icon_885e081c1dc341bab2f30948f7ed00de);
            
    
            var popup_76a9617e0d194e0baea00ed9d264e9fa = L.popup({maxWidth: '300'});

            
                var html_20093476ce4f464eb112393dac8f2dbb = $('<div id="html_20093476ce4f464eb112393dac8f2dbb" style="width: 100.0%; height: 100.0%;">Discover Magazine</div>')[0];
                popup_76a9617e0d194e0baea00ed9d264e9fa.setContent(html_20093476ce4f464eb112393dac8f2dbb);
            

            marker_5868f0f7ac3143fa9f77aed62a30f956.bindPopup(popup_76a9617e0d194e0baea00ed9d264e9fa);

            
        
    

            var marker_2c89bbfc7d1044c2b99851fead53a4ae = L.marker(
                [39.39870315600007,-99.41461918999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_07ccc27f6eee4780816901a6d5e81cc3 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'darkgreen',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2c89bbfc7d1044c2b99851fead53a4ae.setIcon(icon_07ccc27f6eee4780816901a6d5e81cc3);
            
    
            var popup_acbbfa702e04444abd530dff30c73f27 = L.popup({maxWidth: '300'});

            
                var html_4d3214fe37c44b60933c8fac94bfada9 = $('<div id="html_4d3214fe37c44b60933c8fac94bfada9" style="width: 100.0%; height: 100.0%;">TeslaRoadTrip</div>')[0];
                popup_acbbfa702e04444abd530dff30c73f27.setContent(html_4d3214fe37c44b60933c8fac94bfada9);
            

            marker_2c89bbfc7d1044c2b99851fead53a4ae.bindPopup(popup_acbbfa702e04444abd530dff30c73f27);

            
        
    

            var marker_5f2bb3fe1a9b4d9e9bd19e6a644a7de8 = L.marker(
                [-33.90131999999994,18.622670000000028],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_d56814eefe3b4c1298a27d448e1b04e7 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'darkblue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5f2bb3fe1a9b4d9e9bd19e6a644a7de8.setIcon(icon_d56814eefe3b4c1298a27d448e1b04e7);
            
    
            var popup_ca77bd260dd248b58bdbb94f5c847b6a = L.popup({maxWidth: '300'});

            
                var html_f48bad55d6ca47eab9a27d6ed5db8f67 = $('<div id="html_f48bad55d6ca47eab9a27d6ed5db8f67" style="width: 100.0%; height: 100.0%;">Ars Technica</div>')[0];
                popup_ca77bd260dd248b58bdbb94f5c847b6a.setContent(html_f48bad55d6ca47eab9a27d6ed5db8f67);
            

            marker_5f2bb3fe1a9b4d9e9bd19e6a644a7de8.bindPopup(popup_ca77bd260dd248b58bdbb94f5c847b6a);

            
        
    

            var marker_9d2e6f7eac2f401ea67af83b0561d9c2 = L.marker(
                [40.71455000000003,-74.00713999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_55565a507e3f4b04a399016f4f41bda8 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightblue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9d2e6f7eac2f401ea67af83b0561d9c2.setIcon(icon_55565a507e3f4b04a399016f4f41bda8);
            
    
            var popup_63cb3f4d73744c7bbae5f62bdd2bbea1 = L.popup({maxWidth: '300'});

            
                var html_d88d29a180be45d9bdef3ba4aa31099a = $('<div id="html_d88d29a180be45d9bdef3ba4aa31099a" style="width: 100.0%; height: 100.0%;">The New York Review of Books</div>')[0];
                popup_63cb3f4d73744c7bbae5f62bdd2bbea1.setContent(html_d88d29a180be45d9bdef3ba4aa31099a);
            

            marker_9d2e6f7eac2f401ea67af83b0561d9c2.bindPopup(popup_63cb3f4d73744c7bbae5f62bdd2bbea1);

            
        
    

            var marker_5f7c7cced20f4531b38a5f9c3594d96e = L.marker(
                [37.389670000000024,-122.08159999999998],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_559ca3fb65dc4f9c978a0a12ae80fc30 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'beige',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5f7c7cced20f4531b38a5f9c3594d96e.setIcon(icon_559ca3fb65dc4f9c978a0a12ae80fc30);
            
    
            var popup_f39cf525dc0b4491ae26db8f5ae8b69b = L.popup({maxWidth: '300'});

            
                var html_8e0ae6ee181b40248a04388b318a103a = $('<div id="html_8e0ae6ee181b40248a04388b318a103a" style="width: 100.0%; height: 100.0%;">Khan Academy</div>')[0];
                popup_f39cf525dc0b4491ae26db8f5ae8b69b.setContent(html_8e0ae6ee181b40248a04388b318a103a);
            

            marker_5f7c7cced20f4531b38a5f9c3594d96e.bindPopup(popup_f39cf525dc0b4491ae26db8f5ae8b69b);

            
        
    

            var marker_035ec7a829214d00ba2436963637ba73 = L.marker(
                [40.71455000000003,-74.00713999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_1313518c35c64536bdc610164676b504 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'purple',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_035ec7a829214d00ba2436963637ba73.setIcon(icon_1313518c35c64536bdc610164676b504);
            
    
            var popup_a0ea075a96e0462183f3789aea04a687 = L.popup({maxWidth: '300'});

            
                var html_438314a28fcf4c51b0bbcdd5f78de3c1 = $('<div id="html_438314a28fcf4c51b0bbcdd5f78de3c1" style="width: 100.0%; height: 100.0%;">60 Minutes</div>')[0];
                popup_a0ea075a96e0462183f3789aea04a687.setContent(html_438314a28fcf4c51b0bbcdd5f78de3c1);
            

            marker_035ec7a829214d00ba2436963637ba73.bindPopup(popup_a0ea075a96e0462183f3789aea04a687);

            
        
    

            var marker_9d35e589ecf94f52b372df10776c7506 = L.marker(
                [40.71455000000003,-74.00713999999994],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_11b313bc10aa49ab8cf7bec961421cd5 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'lightgray',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9d35e589ecf94f52b372df10776c7506.setIcon(icon_11b313bc10aa49ab8cf7bec961421cd5);
            
    
            var popup_f9cd678dcb094cae8a65d285aa8fa374 = L.popup({maxWidth: '300'});

            
                var html_dd5fa98222ac46089145d539a6fd1609 = $('<div id="html_dd5fa98222ac46089145d539a6fd1609" style="width: 100.0%; height: 100.0%;">The New Yorker</div>')[0];
                popup_f9cd678dcb094cae8a65d285aa8fa374.setContent(html_dd5fa98222ac46089145d539a6fd1609);
            

            marker_9d35e589ecf94f52b372df10776c7506.bindPopup(popup_f9cd678dcb094cae8a65d285aa8fa374);

            
        
    

            var marker_ffbd2de053444cf99c5193b409b39752 = L.marker(
                [33.91819000000004,-118.35373999999996],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_b70df48a2f254226bb69452719b9d457);
            
    

                var icon_d100a416bfc0408d89e346b464ab37c7 = L.AwesomeMarkers.icon({
                    icon: 'film',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ffbd2de053444cf99c5193b409b39752.setIcon(icon_d100a416bfc0408d89e346b464ab37c7);
            
    
            var popup_ca7d1a8494dd4c57acbd68b855cafe17 = L.popup({maxWidth: '300'});

            
                var html_1b255afb0f26461fb71057faf0e3a5a4 = $('<div id="html_1b255afb0f26461fb71057faf0e3a5a4" style="width: 100.0%; height: 100.0%;">SpaceX</div>')[0];
                popup_ca7d1a8494dd4c57acbd68b855cafe17.setContent(html_1b255afb0f26461fb71057faf0e3a5a4);
            

            marker_ffbd2de053444cf99c5193b409b39752.bindPopup(popup_ca7d1a8494dd4c57acbd68b855cafe17);

            
        
</script>